<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Gold and Silver rate in Nepal</title>
  </head>

  <body
    class="text-[Poppins] md:mx-[20vw] bg-orange-50 from-pink-200 to-green-100 h-[100vh]"
  >
    <div class="flex flex-col items-center justify-center">
      <div
        class="flex flex-col text-yellow-950 items-center justify-center gap-2 mt-[20vh] mb-[10vh]"
      >
        <h1 class="text-3xl md:text-5xl text-center font-black uppercase">Gold and Silver</h1>
        <p class="text-2xl">Price in Nepal</p>
      </div>
      <div class="flex items-center justify-around md:w-[60vw] m-auto">
        <div class="items-center flex flex-col">
          <div id="rate" class="flex flex-col gap-20"></div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      axios.get("/rate").then((resp) => {
        console.log(resp.data);
        const rate = resp.data[0];
        document.querySelector("#rate").innerHTML = `
        <div class="flex items-center justify-around relative md:w-100 h-20 px-5">
          <img src="/static/images/gold.png" alt="gold bar" class="md:h-30 h-20"/>
          <p class="md:text-3xl text-white font-semibold">${rate.goldrate}</p>
          <div class="p-5 absolute -z-1 top-0 left-0 bg-red-400 w-[100%] h-[100%]">
          </div>
        </div>
        <div class="flex items-center justify-around relative md:w-100 h-20 px-5">
          <img src="/static/images/silver.png" alt="silver bar" class="md:h-20 h-12"/>
          <p class="md:text-3xl text-white font-semibold">${rate.silverrate}</p>
          <div class="p-5 absolute -z-1 top-0 left-0 bg-red-400 w-[100%] h-[100%]">
          </div>
        </div>
          `;
      });
    </script>
  </body>
</html>
